# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/

# Flask cache files
instance/
.webassets-cache

# PyInstaller
*.manifest
*.spec

# Environment variables
.env
*.env

# SQLite DBs (optional)
*.sqlite3
*.db

# Logs
*.log

# VS Code settings
.vscode/

# macOS
.DS_Store

# Jupyter Notebooks
.ipynb_checkpoints/

